h1 {
    color: #c42c2d;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 300%;
    margin-bottom: -2%;
    text-align: center;
}
.title {
    font-family: Arial, Helvetica, sans-serif;
    color: #577a7f;
    margin-bottom: 10%;
    text-align: center;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #577a7f;
    text-align: center;
    font-size: 400%;
}
body {
    background-color: #efecd7;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
button {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    background-color: transparent;
    border-color: transparent;
    padding: 3px 10px 3px 10px;
    margin: 5px 5px 5px 5px;
    color: #577a7f;
}
a {
    color: inherit;
    text-decoration: none;
}
hr{
    line-height: 50%;
}