body {
    background-color: rgb(194, 216, 234);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button {
    font-size: 20px;
    font-weight: 900;
    background-color:  rgb(114, 151, 182);
}