h1 {
    color: #c42c2d;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 300%;
    margin-bottom: -2%;
}
.title {
    font-family: Arial, Helvetica, sans-serif;
    color: #577a7f;
    margin-bottom: 10%;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #577a7f;
    text-align: center;
    font-size: 400%;
}
body {
    background-color: #efecd7;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
button {
    font-size: 20px;
    font-weight: 900;
    background-color:  rgb(255, 255, 255);
}