body {
    background-color: #dae5d9;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    color: #6A98A3;
    margin-bottom: 50px;
    text-align: center;
}

h1 {
    color: #485F83;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 400%;
    margin-bottom: -2%;
    text-align: center;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #527C95;
    text-align: center;
    font-size: 200%;
}

button {
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    background-color: transparent;
    border-color: transparent;
    padding: 3px 11px 3px 11px;
    margin: 5px 5px 5px 5px;
    color: #96B394;
}

a {
    color: inherit;
    text-decoration: none;
}