body {
    background-color: rgb(217, 232, 244);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button {
    font-size: 20px;
    font-weight: 900;
    background-color:  rgb(255, 255, 255);
}